<h1 class="title"><a href="https://github.com/RavelLaw/e3" target="_blank">Ember E3</a></h1>

<div class="header">
  <h2>Examples</h2>

  <p>
    <button>{{link-to 'Home' 'index'}}</button>
    <button>{{link-to 'Bar Chart' 'bar-chart'}}</button>
    <button>{{link-to 'Circles' 'bubble-1'}}</button>
    <button>{{link-to 'Line graph' 'line-graph'}}</button>
    <button>{{link-to 'Smoothed line graph' 'smooth-line-graph'}}</button>
    <button>{{link-to 'Stacked bars' 'stacked-bar'}}</button>
    <button>{{link-to 'Grouped Bars' 'grouped-bars'}}</button>
    <button>{{link-to 'Text' 'text-sample'}}</button>
    <button>{{link-to 'Inverted axis' 'invert'}}</button>
  </p>
</div>

<hr>

<div class="content">
  {{outlet}}
</div>
