<h1 class="title"><a href="https://github.com/RavelLaw/e3" target="_blank">Ember E3</a></h1>

<div class="header">
  <h2>Examples</h2>

  <p>
    <span class="button">{{link-to 'Home' 'index'}}</span>
    <span class="button">{{link-to 'Bar Chart' 'bar-chart'}}</span>
    <span class="button">{{link-to 'Circles' 'bubble-1'}}</span>
    <span class="button">{{link-to 'Line graph' 'line-graph'}}</span>
    <span class="button">{{link-to 'Smoothed line graph' 'smooth-line-graph'}}</span>
    <span class="button">{{link-to 'Stacked bars' 'stacked-bar'}}</span>
    <span class="button">{{link-to 'Grouped Bars' 'grouped-bars'}}</span>
    <span class="button">{{link-to 'Text' 'text-sample'}}</span>
    <span class="button">{{link-to 'Inverted axis' 'invert'}}</span>
    {{!-- Can't show this yet as it dependson the mock server. Blarg. --}}
    {{!-- <button>{{link-to 'NY Times Stikeouts' 'nytimes-strikeouts'}}</button> --}}
  </p>
</div>

<hr>

<div class="content">
  {{outlet}}
</div>
