<h3>Examples</h3>

<p>
  {{link-to 'Bar Chart' 'bar-chart'}}
  {{link-to 'Circles' 'bubble-1'}}
  {{link-to 'Line graph' 'line-graph'}}
  {{link-to 'Smoothed line graph' 'smooth-line-graph'}}
  {{link-to 'Stacked bars' 'stacked-bar'}}
  {{link-to 'Grouped Bars' 'grouped-bars'}}
  {{link-to 'Text' 'text-sample'}}
  {{link-to 'Inverted axis' 'invert'}}
</p>

{{outlet}}
