<button {{action 'addBar'}}>Add Bar</button>
<button {{action 'removeBar'}}>Remove Bar</button>
<br><br>
{{#e3-container type='svg' height=400 width=800 as |ctx meta|}}
  <metadata>
    {{e3-scale/ordinal ctx 'x'
      banding=true
      domain=model
      padding=0.2
      outerPadding=10
      range=ctx.horizontalRange
      sortProperty='value'
    }}
    {{e3-scale/linear ctx 'y'
      domain=(e3-extent model key='temperature' padding=0.2 min-delta=5 min=0)
      range=ctx.verticalRange
    }}
  </metadata>

  {{#each model key='id' as |data|}}
    {{bar-item ctx
      data=data
      x=(e3-bind-scale meta.scales.x)
      width=meta.scales.x.bandWidth
      height=(e3-bind-scale meta.scales.y 'temperature')
      y=(e3-bind-scale meta.scales.y 'temperature' scaleDifference=true)
      mouse-move='mouseMoved'
    }}
  {{/each}}
{{/e3-container}}