<button {{action 'change'}}>Change.</button>
<button {{action 'change2'}}>Change2.</button>
<button {{action 'togglePaddeder'}}>{{if isPaddeder 'Paddeder!' 'Not Paddeder'}}</button>
<button {{action 'toggleShow'}}>
  {{#if showCircles}}Showing{{else}}Hiding{{/if}}
</button>
<br>
{{#if hoveredObject}}
  <p>
    Hovering on: (id: {{hoveredObject.id}}, x: {{hoveredObject.x}}, y: {{hoveredObject.y}})
  </p>
{{/if}}
<br>
{{#e3-container type='svg' height=400 width=800 as |ctx meta|}}
  <metadata>
    {{e3-scale/linear ctx 'x'
      domain=(e3-extent model key='x' padding=0.2 min-delta=5)
      range=ctx.horizontalRange
      padding=10
    }}
    {{e3-scale/linear ctx 'y'
      domain=(e3-extent model key='y' padding=yScalePadding min-delta=5)
      range=ctx.verticalRange
      padding=10
    }}
  </metadata>

  {{#e3-collection ctx model key='id' as |collectionContext item|}}
    {{#if showCircles}}
      {{click-circle collectionContext
        data=item
        x=(e3-bind-scale meta.scales.x 'x')
        y=(e3-bind-scale meta.scales.y 'y')
        radius=15
        on-hover='hoverObject'
        fill='#E4E4E4'
      }}
    {{else}}
      {{e3-shape/rectangle collectionContext
        data=item
        x=(e3-bind-scale meta.scales.x 'x')
        y=(e3-bind-scale meta.scales.y 'y')
        width=10
        height=10
        fill='#E4E4E4'
      }}
    {{/if}}
  {{/e3-collection}}

  {{!-- {{#each model key='id' as |item|}}
    {{e3-shape/circle ctx
      data=item
      x=(e3-bind-scale meta.scales.x 'x')
      y=(e3-bind-scale meta.scales.y 'y')
      radius=3
      fill='#E4E4E4'
    }}
  {{/each}} --}}

{{/e3-container}}
