<h4>CANVAS</h4>
{{#e3-container type='canvas' height=400 width=800 as |ctx meta|}}

  <metadata>
    {{e3-scale/linear ctx 'x'
      domain=domain
      range=ctx.horizontalRange
    }}
  </metadata>

  {{#e3-group ctx as |groupCtx|}}
    {{e3-shape/circle groupCtx x=200}}
    {{e3-shape/rectangle groupCtx x=300 fill='blue'}}
    {{e3-shape/line groupCtx x2=400 y2=400}}
  {{/e3-group}}

{{/e3-container}}
<br><br><br>
<h4>SVG</h4>
{{#e3-container type='svg' height=400 width=800 as |ctx meta|}}

  <metadata>
    {{e3-scale/linear ctx 'x'
      domain=domain
      range=ctx.horizontalRange
    }}
  </metadata>

  {{#e3-group ctx as |groupCtx|}}
    {{e3-shape/circle groupCtx x=200}}
    {{e3-shape/rectangle groupCtx x=300 fill='blue'}}
    {{e3-shape/line groupCtx x2=400 y2=400}}
  {{/e3-group}}

{{/e3-container}}
<style>
  canvas, svg {
    border: 1px solid black;
  }
</style>