<select name="teams" onchange={{action 'pickTeam'}}>
  <option value="">Choose...</option>
  {{#each model.teams as |team|}}
    <option value={{team.code}}>{{team.name}}</option>
  {{/each}}
</select>
{{!-- kpg is strikeout/game && year --}}
<br><br>
{{#e3-container type='svg' height=500 width=1000 as |ctx meta|}}
  <metadata>
    {{e3-scale/ordinal ctx 'x'
      domain=(e3-unique model.outs key='year')
      range=ctx.horizontalRange
      outerPadding=5
    }}
    {{e3-scale/linear ctx 'y'
      domain=(e3-extent model.outs key='kpg' padding=0.2 min-value=0)
      invert=true
      padding=10
      range=ctx.verticalRange
    }}
  </metadata>

  {{!-- Grey Background Distribution Dots --}}
  {{#e3-group ctx as |groupCtx|}}
    {{#each model.outs as |out|}}
      {{e3-shape/circle groupCtx
        data=out
        x=(e3-bind-scale meta.scales.x 'year')
        y=(e3-bind-scale meta.scales.y 'kpg')
        radius=3
        fill='#E4E4E4'
      }}
    {{/each}}
  {{/e3-group}}

  {{e3-shape/line ctx
    x1=(e3-scale-min meta.scales.x)
    x2=(e3-scale-max meta.scales.x)
    y1=(e3-scale-max meta.scales.y minus=20)
    y2=(e3-scale-max meta.scales.y minus=20)
  }}

  {{#each (e3-ticks (e3-extent meta.scales.x.domain)) as |year|}}
    {{e3-shape/line ctx
      data=year
      x1=meta.scales.x
      x2=meta.scales.x
      y1=(e3-scale-max meta.scales.y minus=15)
      y2=(e3-scale-max meta.scales.y minus=20)
    }}

    {{e3-shape/text ctx
      data=year
      x=meta.scales.x
      y=(e3-scale-max meta.scales.y minus=5)
      text=year
    }}
  {{/each}}

  {{#each (e3-ticks meta.scales.y.domain ticks=5) as |kpg|}}
    {{e3-shape/line ctx
      data=kpg
      x1=(e3-scale-min meta.scales.x)
      x2=(e3-scale-max meta.scales.x)
      y1=meta.scales.y
      y2=meta.scales.y
      stroke='#aaaaaa'
    }}
  {{/each}}

  {{!-- Blue Average Line --}}
  {{e3-shape/path ctx
    data=model.avg
    x=(e3-bind-scale meta.scales.x 'year')
    y=(e3-bind-scale meta.scales.y 'avg')
    stroke-width=1
    stroke='#1C688F'
  }}

  {{!-- Blue Foreground Average Dots --}}
  {{#each model.avg as |out|}}
    {{e3-shape/circle ctx
      data=out
      x=(e3-bind-scale meta.scales.x 'year')
      y=(e3-bind-scale meta.scales.y 'avg')
      radius=3
      fill='#1C688F'
    }}
  {{/each}}

  {{#if activeTeamOuts}}
    {{e3-shape/path ctx
      data=activeTeamOuts
      x=(e3-bind-scale meta.scales.x 'year')
      y=(e3-bind-scale meta.scales.y 'kpg')
      stroke-width=1
      stroke='#FDAF33'
    }}

    {{!-- Blue Foreground Average Dots --}}
    {{#each activeTeamOuts key='year' as |out|}}
      {{e3-shape/circle ctx
        data=out
        x=(e3-bind-scale meta.scales.x 'year')
        y=(e3-bind-scale meta.scales.y 'kpg')
        radius=3
        fill='#FDAF33'
      }}
    {{/each}}
  {{/if}}
{{/e3-container}}
