<h2 class="title">Smoothed Line Graph</h2>
<button {{action 'addPoint'}}>Add Point</button>
<button {{action 'removePoint'}}>Remove Point</button>
<br><br>
{{#e3-container type='svg' height=400 width=800 as |ctx meta|}}
  <metadata>
    {{e3-scale/ordinal ctx 'x'
      domain=model
      range=ctx.horizontalRange
    }}
    {{e3-scale/linear ctx 'y'
      domain=(e3-extent model key='temperature' padding=0.2 min-delta=5)
      range=ctx.verticalRange
    }}
  </metadata>

  {{e3-shape/path ctx
    data=model
    interpolation='monotone'
    x=(e3-bind-scale meta.scales.x)
    y=(e3-bind-scale meta.scales.y 'temperature')
  }}
{{/e3-container}}
