<button {{action 'add'}}>Add</button>
<button {{action 'remove'}}>Clear</button>
<ul>
  <li>Temperature: {{if hoveredData hoveredData.temperature 'hover for data'}}</li>
  <li>Value: {{if hoveredData hoveredData.value 'hover for data'}}</li>
</ul>

<br><br>
{{#e3-container type='canvas' height=400 width=800 as |ctx meta|}}
  <metadata>
    {{e3-scale/ordinal ctx 'x'
      banding=true
      domain=model
      padding=0.2
      outerPadding=10
      range=ctx.horizontalRange
      sortProperty='value'
    }}
    {{e3-scale/linear ctx 'y'
      domain=(e3-extent model key='temperature' nested-key='children' nested-sum=true min-value=0)
      range=ctx.verticalRange
    }}
  </metadata>

  {{#each model as |group|}}
    {{#e3-stacked-group ctx
      data=group.children
      x=(e3-bind-scale meta.scales.x data=group)
      y=(e3-bind-scale meta.scales.y 'temperature' scaleDifference=true)
      sum-props='temperature'
      as |groupContext groupMeta data cums|}}
      {{bar-item groupContext
        data=data
        x=0
        width=meta.scales.x.bandWidth
        height=(e3-bind-scale meta.scales.y 'temperature')
        y=(e3-bind-scale meta.scales.y 'temperature' data=cums)
        mouse-move='mouseMoved'
      }}
    {{/e3-stacked-group}}
  {{/each}}
{{/e3-container}}
